/**
 * Something describing this file goes here
 */
/* line 8, ../sass/osx.scss */
.calc-osx {
  position: relative;
  width: 219px;
  height: 283px;
  border-width: 1px;
  border-style: solid;
  border-color: #acacac #909090 #909090 #909090;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 15px 40px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 15px 40px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 15px 40px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 75, color-stop(0%, #e8e8e8), color-stop(100%, #acacac));
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #acacac 75px);
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #acacac 75px);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #acacac 75px);
  background-image: linear-gradient(top, #e8e8e8 0%, #acacac 75px);
}
/* line 19, ../sass/osx.scss */
.calc-osx .title-container {
  margin: 5px;
  text-align: center;
}
/* line 23, ../sass/osx.scss */
.calc-osx .title-container .window-buttons {
  position: absolute;
  cursor: default;
}
/* line 27, ../sass/osx.scss */
.calc-osx .title-container .window-buttons li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #4e555a #8d9499 #8d9499 #8d9499;
  background-color: #8b9caa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 38, ../sass/osx.scss */
.calc-osx .title-container .window-buttons li.disabled {
  border-color: #838383 #a9a9a9 #a9a9a9 #a9a9a9;
  background-color: #cecece;
}
/* line 44, ../sass/osx.scss */
.calc-osx .title-container .title-label {
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 52, ../sass/osx.scss */
.calc-osx .screen-container {
  margin: 8px auto;
  width: 189px;
  height: 46px;
  background-color: #f2f9cc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px -3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 white;
  -moz-box-shadow: 0 2px 1px -3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 white;
  box-shadow: 0 2px 1px -3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 2px 0 white;
}
/* line 60, ../sass/osx.scss */
.calc-osx .screen-container .screen-input {
  float: right;
  padding: 3px 26px 0 20px;
}
/* line 67, ../sass/osx.scss */
.calc-osx .buttons-container .buttons {
  text-align: center;
}
/* line 70, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .button {
  display: inline-block;
  margin: 3px 0;
  width: 44px;
  height: 24px;
  border: 1px solid #7a7a7a;
  background-color: #d4d4d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 1px 1px 1px inset, rgba(0, 0, 0, 0.5) 0 0 2px 0 inset, rgba(0, 0, 0, 0.5) 0 0 0 0 inset, rgba(0, 0, 0, 0.5) 0 0 2px -1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.9) 0 1px 1px 1px inset, rgba(0, 0, 0, 0.5) 0 0 2px 0 inset, rgba(0, 0, 0, 0.5) 0 0 0 0 inset, rgba(0, 0, 0, 0.5) 0 0 2px -1px inset;
  box-shadow: rgba(255, 255, 255, 0.9) 0 1px 1px 1px inset, rgba(0, 0, 0, 0.5) 0 0 2px 0 inset, rgba(0, 0, 0, 0.5) 0 0 0 0 inset, rgba(0, 0, 0, 0.5) 0 0 2px -1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #d5d5d5));
  background-image: -webkit-linear-gradient(top, #dddddd, #d5d5d5);
  background-image: -moz-linear-gradient(top, #dddddd, #d5d5d5);
  background-image: -o-linear-gradient(top, #dddddd, #d5d5d5);
  background-image: linear-gradient(top, #dddddd, #d5d5d5);
  vertical-align: top;
  cursor: default;
}
/* line 83, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .button .button-label {
  position: relative;
  top: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 90, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .button.button-equals {
  height: 56px;
}
/* line 93, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .button.button-equals span {
  top: 36px;
}
/* line 98, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .button-zero {
  width: 92px;
}
/* line 102, ../sass/osx.scss */
.calc-osx .buttons-container .buttons .last {
  position: absolute;
  left: 13px;
  bottom: 8px;
}
